body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.app-container {
    text-align: center;
    background-color: #ffffff; /* White background for the game container */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.button-container {
    margin: 20px 0;
}

.emoji-button {
    font-size: 50px; /* Larger emoji size */
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green background for buttons */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.emoji-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.connect-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue background for the connect button */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.connect-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
